# Created to fix the 'Client ID' value in row index 25 as it was blank. Additionally, this python code was used to remove irrelevant data from the dataset to improve the overall performance of the ETL process on Power Query Editor.

In [3]:
import pandas as pd
from pandas import DataFrame

In [10]:
df = pd.read_csv('data_file.csv')
df.loc[24, 'Client ID'] = 25
df.drop(['First Name', 'Last Name', 'Waiting Time'], inplace=True, axis=1)
df.to_csv('data_file.csv', index=False)

,Requesting date,Appointment date,Client ID,Provider Role,Full Name
0,9/20/23 12:18 PM,9/21/23 12:45 PM,1,Nurse,Aayan Johnson
1,9/20/23 12:19 PM,9/29/23 10:47 AM,2,Nurse,Minnie Pratt
2,9/20/23 2:56 PM,10/23/23 11:50 AM,3,Nurse,Bianca English
3,9/20/23 2:56 PM,10/16/23 3:04 PM,4,Nurse,Rosalind Love
4,9/20/23 2:56 PM,10/16/23 3:04 PM,5,Nurse,Zaara Lynch
5,9/21/23 10:14 AM,9/28/23 2:50 PM,6,Nurse,Casper Sawyer
6,9/21/23 2:25 PM,10/13/23 11:36 AM,7,Nurse,Sadia Christensen
7,9/22/23 12:25 PM,9/25/23 2:15 PM,8,Psychologist,Samir Bowman
8,9/22/23 6:02 PM,9/30/23 10:05 AM,9,Psychologist,Caroline Bonner
9,9/23/23 4:51 PM,10/2/23 4:40 PM,10,Psychologist,Keane Dejesus
10,9/24/23 4:30 PM,9/26/23 8:58 AM,11,Psychologist,Josef Powell
11,9/27/23 10:08 AM,10/12/23 8:19 AM,12,MD,Safa Hendricks
12,9/27/23 3:34 PM,11/7/23 12:58 PM,13,MD,Richie Hickman
13,9/28/23 3:15 PM,10/5/23 8:21 PM,14,MD,Maisy Best
14,9/28/23 3:57 PM,10/3/23 11:06 AM,15,MD,Nina Hogan
15,10/1/23 8:59 AM,10/18/23 12:05 PM,16,MD,Susie Parrish
16,10/2/23 12:39 PM,10/5/23 3:02 PM,17,MD,Cindy Escobar
17,10/2/23 1:33 PM,10/27/23 7:10 AM,18,MD,Romeo Russo
18,10/2/23 1:56 PM,10/12/23 4:42 PM,19,MD,Cai Carrillo
19,10/2/23 2:35 PM,10/10/23 8:28 AM,20,MD,Kane Kirk
20,10/4/23 6:10 PM,10/14/23 12:09 PM,21,MD,Bernice Bush
21,10/5/23 9:05 AM,10/12/23 12:26 PM,22,MD,Eden Mayer
22,10/5/23 11:08 AM,10/25/23 11:17 PM,23,MD,Isabella Cantu
23,10/6/23 12:49 PM,10/16/23 3:52 PM,24,MD,Roisin Slater
24,10/10/23 2:30 PM,10/17/23 7:17 AM,25,MD,Marianne Gaines
25,10/10/23 8:43 PM,10/18/23 9:49 AM,26,MD,Milly Kaufman

In [12]:
df['Requesting date'] = pd.to_datetime(df['Requesting date'])
df['Appointment date'] = pd.to_datetime(df['Appointment date'])

df['request_date'] = df['Requesting date'].dt.strftime('%m/%d/%Y')
df['appointment_date'] = df['Appointment date'].dt.strftime('%m/%d/%Y')

df.head()

C:\Users\Aahad\AppData\Local\Temp\ipykernel_15504\3182870914.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Requesting date'] = pd.to_datetime(df['Requesting date'])
C:\Users\Aahad\AppData\Local\Temp\ipykernel_15504\3182870914.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Appointment date'] = pd.to_datetime(df['Appointment date'])

,Requesting date,Appointment date,Client ID,Provider Role,Full Name,request_date,appointment_date
0,2023-09-20 12:18:00,2023-09-21 12:45:00,1,Nurse,Aayan Johnson,09/20/2023,09/21/2023
1,2023-09-20 12:19:00,2023-09-29 10:47:00,2,Nurse,Minnie Pratt,09/20/2023,09/29/2023
2,2023-09-20 14:56:00,2023-10-23 11:50:00,3,Nurse,Bianca English,09/20/2023,10/23/2023
3,2023-09-20 14:56:00,2023-10-16 15:04:00,4,Nurse,Rosalind Love,09/20/2023,10/16/2023
4,2023-09-20 14:56:00,2023-10-16 15:04:00,5,Nurse,Zaara Lynch,09/20/2023,10/16/2023

In [13]:
df.drop(['Requesting date', 'Appointment date'], inplace=True, axis=1)
df.head()

   Client ID Provider Role       Full Name request_date appointment_date
0          1         Nurse   Aayan Johnson   09/20/2023       09/21/2023
1          2         Nurse    Minnie Pratt   09/20/2023       09/29/2023
2          3         Nurse  Bianca English   09/20/2023       10/23/2023
3          4         Nurse   Rosalind Love   09/20/2023       10/16/2023
4          5         Nurse     Zaara Lynch   09/20/2023       10/16/2023

In [14]:
df.to_csv('data_file.csv', index=False)